html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.title {
  position: fixed;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2000;
  font-size: 70px;
  white-space: nowrap;
  letter-spacing: 40px;
  font-family: "Playfair Display";
  color: cyan;
}
