html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #fff;
}

@font-face {
    font-family: 'F';
    src: url('fugazi.woff2') format('woff2'),
            url('fugazi.woff') format('woff');
    font-style:   normal;
    font-stretch: normal;
}

body {
    margin: 0;
    padding: 0;
    background: white;
    overflow: hidden;
}

.product h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1000;
    margin: 0;
    font-size: 150px;
    color: #fff;
    mix-blend-mode: difference;
    font-family: 'F', Arial;
    text-transform: uppercase;
}
.spin {
    width: 900px;
    -webkit-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}